/* App.css に追加または統一するスタイル */
body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: "MS 明朝", serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #F8F8F8;
  padding: 20px;
}
